In [1]:
import csv
import pandas as pd
import matplotlib.pyplot as plt
from citipy import citipy
import requests
import json
import datetime
from pprint import pprint

In [2]:
csv = "Bigfoot.csv"
Bigfootraw= pd.read_csv(csv)
Bigfootraw.head()

,number,title,classification,timestamp,latitude,longitude
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5000,-142.9000
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853

In [3]:
Bigfootraw =Bigfootraw.dropna()
print(Bigfootraw.count())

number            3852
title             3852
classification    3852
timestamp         3852
latitude          3852
longitude         3852
dtype: int64

In [4]:
def month_year(x):
    return x.split("T")[0]

month_year(Bigfootraw.iloc[0]["timestamp"])

'2000-06-16'

In [ ]:
api_key = "AIzaSyD_4li9-ONfLU-6pve3OSfAChXSbzXq0zE"

cities = []
states = []
for x in range(len(Bigfootraw)):
    try:
        city = citipy.nearest_city(Bigfootraw.iloc[x]["latitude"],Bigfootraw.iloc[x]["longitude"])
        cities.append(city.city_name)
        url = "http://maps.googleapis.com/maps/api/geocode/json?latlng="+str(Bigfootraw.iloc[x]["latitude"])+","+str(Bigfootraw.iloc[x]["longitude"])+"&APPID="+api_key
        response = requests.get(url)
        data = response.json()
        state = data["results"][3]["address_components"][0]["short_name"]
        states.append(state)
    except:
        continue
Bigfootraw["closest city"] = cities
Bigfootraw["state"] = states
Bigfootraw["timestamp"] = Bigfootraw["timestamp"].apply(month_year)
Bigfootraw.head()

In [ ]:
print(len(Bigfootraw["state"]))

In [ ]:
#state = data["results"][3]["address_components"][0]["short_name"]
#print(state)

In [ ]:
# regions_df = pd.read_csv("us census bureau regions and divisions.csv")
regions_df.head()