In [2]:
import pandas as pd
import csv

In [4]:
df = pd.read_csv("us census bureau regions and divisions.csv")
df.head()

        State State Code Region            Division
0      Alaska         AK   West             Pacific
1     Alabama         AL  South  East South Central
2    Arkansas         AR  South  West South Central
3     Arizona         AZ   West            Mountain
4  California         CA   West             Pacific