In [5]:
# Dependencies
import pandas as pd
import json
import tweepy

from config import consumer_key, consumer_secret, access_token, access_token_secret

In [6]:
# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [ ]:
# Import CSV file into Data Frame
big_foot_tweets = pd.read_csv("bfro_report_locations.csv", dtype=str)

# Iterate through Big Foot dataframe
for index, row in big_foot_tweets.iterrows():
    try:
        # Grab the lat and long
        report_number = row["latitude"]["longitude"]
        
        print(report_number)

        # Use the username with the Twitter API get_user
        user_account = api.search(report_number)
        #user_real_name = user_account["name"]

        # Get the specific column data
        #user_tweets = user_account["statuses_count"]
        #user_followers = user_account["followers_count"]
        #user_following = user_account["friends_count"]
        #user_favorites = user_account["favourites_count"]

        # Replace the row information for each
        #big_foot_tweets.set_value(index, "Real Name", user_real_name)
        #big_foot_tweets.set_value(index, "Tweets", user_tweets)
        #big_foot_tweets.set_value(index, "Followers", user_followers)
        #big_foot_tweets.set_value(index, "Following", user_following)
        #big_foot_tweets.set_value(index, "Favorites Count", user_favorites)
    
    except:
        continue

In [8]:
# Export the new CSV
big_foot_tweets.to_csv("Big_Foot_Tweets_New.csv", index=False)

# View the new dataframe
big_foot_tweets.head()

,number,title,classification,timestamp,latitude,longitude
0,637,Report 637: Campers' encounter just after dark...,Class A,2000-06-16T12:00:00Z,61.5,-142.9
1,2917,Report 2917: Family observes large biped from car,Class A,1995-05-15T12:00:00Z,55.1872,-132.7982
2,7963,Report 7963: Sasquatch walks past window of ho...,Class A,2004-02-09T12:00:00Z,55.2035,-132.8202
3,9317,"Report 9317: Driver on Alcan Highway has noon,...",Class A,2004-06-18T12:00:00Z,62.9375,-141.5667
4,13038,Report 13038: Snowmobiler has encounter in dee...,Class A,2004-02-15T12:00:00Z,61.0595,-149.7853